#yumblrbar {
  background: #001935
}
#yumblrbar1 {
  background: rgba(0,0,0,0);
  height: 70px;
}

#yumblrbar2 {
  display: flex;
  justify-content: space-between;
}

#menuitem {
  font: 14px Favorit  #000000A6;

}
#buttoncontainer {
  background: #00000012;
  display: flex;
}

#pad {
  padding: 0px 20px 0px;
  color: rgba(0,0,0,0);
}
/* .page {
  background-color: #001935;
  height: 100vh;
} */

#posts {
 position: absolute;
 top: 25%;
 left: 25%;
 width: 75%;

}

.sideBar {
    position: absolute;
    left: 65%;
    top: 15%;
    width: 25%;
}

.blogsTitle {
    color: white;
    font: Favorit;
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 2%;
    padding-left: 2%;
    border-bottom: 2px solid rgba(255,255,255,0.25);
}

.blogs {
    display: flex;
    flex-direction: column;
}

.recblogs {
    font: Favorit;
    font-size: 14px;
}
