svg {
  height: 125px;
}

.login-wrapper {
  background-image: url("../components/images/guyfieriart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;
  height: 100vw;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.MuiContainer-root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#textfield1 {
  border-radius: 0px 0px 0px 0px;
}

#textfield2 {
  border-radius: 0px 0px 5px 5px;
}

#errors-container2 {
    color: black;
    width: 25%;
    position: absolute;
    top: 20%;
    left: 37%;
    list-style: none;
    padding: 1%;

}
