svg {
  height: 125px;
}

.login-wrapper {
  background-image: url("../components/images/guyfieriart.jpg");
  height: 100vw;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.MuiContainer-root {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#textfield1 {
  border-radius: 5px 5px 0px 0px;
}

#textfield2 {
  border-radius: 0px 0px 5px 5px;
}
