svg {
  height: 125px;
}

.signup-wrapper {
  background-image: url("https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/good-design_inline_orange.gif");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  height: 100vh;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.MuiContainer-root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#textfield1 {
  border-radius: 5px 5px 0px 0px;
}

#textfield2 {
  border-radius: 0px 0px 0px 0px;
}

#textfield3 {
  border-radius: 0px 0px 5px 5px;
}

#bigspan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 47px 0px;
}
span {
 color: white;
 font-family: "Helvetica Neue";
 font-size: 16px;
 font-weight: 500;
}

#trending {
  font-weight: bold;
  padding-left: 10px;
}

#navtoexplore {
  padding-top: 10px;
  display: flex;
  text-decoration: none;
}


#errors-container {
    color: black;
    width: 30%;
    position: absolute;
    top: 8%;
    left: 35%;
    list-style: none;
    padding: 1%;



}
