.formtitlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px;
  font-weight: bold;

}

.formtitlebar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey

  }



.box {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0px 10px;
}
.postpic {
  width: 100%;
  height: 50%;
}

.taglist {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
}

ul.taglist {
    padding-inline-start: 15px;
    padding-bottom: 0px;
}

.taglist li:hover {
    cursor: pointer;
    text-decoration: underline;

}
.taglist li {
    padding: 5px;
}

.tags {
    padding-top: 15px;
    /* padding-left: none; */
}

.title {
    font: Favorit #000000;
    font-size: 26px;
    padding-bottom: 20px;
}

.text {
    font: 16px "Helvetica Neue";
}


.caption {
    font: 16px "Helvetica Neue";
    padding-top: 20px;
}

.textposts {
    padding-left: 20px;
}


.bottombar {
    display: flex;
    justify-content: space-between;
}

svg.reblog {
    height: 20px;
}

svg.reblogtiny {
    height: 12px;
}

svg.edit {
    height: 20px;
}
svg.trash {
    height: 20px;
}
svg.heart {
    height: 22px;
}
svg.comment {
    height: 20px;
}

svg.bottombuttons {
    margin-right: 2%;
    fill: #000000A6;
}

svg.bottombuttons2 {
    /* margin-right: 2%; */
    fill: #000000;
}


.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
}

.notes {
    color: #000000A6;
    font: Favorit;
    font-weight: bold;
    padding-left: 10px;
}

.quote {
    font: 34px Georgia;
    padding-right: 20px;
    padding-bottom: 20px;
}

.reblogsection {
    width: 50%;
}


#liked {
    color: red;
}

#notliked {
    color: #000000A6;
}
